.checkBtn:not(:disabled):not(:disabled):active {
  background-color: green;
}
.checkBtn.active {
  background-color: green;
}

.card {
  width: 18rem;
}

.card-img-top {
  height: 18rem;
  overflow: hidden;
}

/* login modal form */
.form-signin {
  max-width: 330px;
  padding: 15px;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.editBtn,
.deleteBtn {
  display: none;
}

.cardEditDiv > i {
  margin-right: 0.4rem;
}
