.checkBtn:not(:disabled):not(:disabled):active {
  background-color: green;
}
.checkBtn.active {
  background-color: green;
}

.card {
  width: 18rem;
}

.card-img-top {
  height: 18rem;
  overflow: hidden;
}
